<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
  <xacro:macro name="velodyne_lidar" params="parent">
    <xacro:arg name="gpu" default="false"/>
    <xacro:property name="gpu" value="$(arg gpu)" />
    <xacro:arg name="organize_cloud" default="false"/>
    <xacro:property name="organize_cloud" value="$(arg organize_cloud)" />
    <xacro:arg name="pointcloud_topic"	default="/velodyne_points"/>
    <xacro:property name="pointcloud_topic" value="$(arg pointcloud_topic)" />

    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="${parent}" name="velodyne" topic="${pointcloud_topic}" organize_cloud="${organize_cloud}" hz="10" samples="440" gpu="${gpu}">
      <origin xyz="0 0 0.4" rpy="0 0 0" />
    </xacro:VLP-16>
  </xacro:macro>
</robot>