<?xml version="1.0"?>
<launch>
  <node pkg="robot_localization" type="ekf_localization_node"
     name="ekf_localization" clear_params="true">
    <param name="frequency"         value="100"/>
    <param name="sensor_timeout"    value="0.1"/>
    <param name="two_d_mode"        value="false"/>
    <!--param name="map_frame"         value="map"/-->
    <param name="odom_frame"        value="odom"/>
    <param name="base_link_frame"   value="base_link"/>
    <param name="world_frame"       value="odom"/>
    <param name="publish_tf"        value="true"/>

    <param name="print diagnostic"  value="true"/>
    
    <param name="imu0"              value="/sensors/imu_filtered"/>
    <!-- x, y, z, r, p , y, xd, yd, zd, rd, pd, yd, xdd, ydd, zdd -->
    <rosparam param="imu0_config">[false, false, false,
                                   true,  true,  false,
                                   false,  false,  false,
                                   false,  false,  false,
                                   false,  false,  false]</rosparam>
    <param name="imu0_differential" value="false"/>
    <param name="imu0_remove_gravitational_acceleration" value="false"/>

    <param name="odom0" value="/swerve_base/odometry_controller/odom"/>
    <rosparam param="odom0_config">[false,  false,  false,
                                   false, false, false,
                                   true, true, true,
                                   false, false, true,
                                   false, false, false]</rosparam>
    <param name="odom0_differential" value="false"/>
  </node>

  <node pkg="imu_transformer" type="imu_transformer_node"
     name="imu_transformer" clear_params="true">
     <remap from="imu_in/data" to="/sensors/imu"/>
     <remap from="imu_out/data" to="/sensors/imu_base_frame"/>
  </node>

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
     name="imu_filter" clear_params="true">
     <remap from="imu/data_raw" to="/sensors/imu_base_frame"/>
     <remap from="imu/data" to="/sensors/imu_filtered"/>
  </node>

</launch>